workflow*.json
{
  "name": "小红书创作者分析工作流",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "xiaohongshu-analysis",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson"
      },
      "id": "webhook-trigger",
      "name": "接收小红书数据",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        280,
        300
      ],
      "webhookId": "xhs-creator-analysis"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "你是一个专业的社交媒体数据分析师，专门分析小红书创作者的内容和表现。请根据以下创作者数据进行深度分析，生成一份专业的分析报告。\n\n# 创作者数据\n用户名：{{ $('接收小红书数据').first().json.body.userName }}\n小红书号：{{ $('接收小红书数据').first().json.body.userId }}\n订阅数：{{ $('接收小红书数据').first().json.body.subscribers }}\n粉丝数：{{ $('接收小红书数据').first().json.body.followers }}\n获赞数：{{ $('接收小红书数据').first().json.body.likes }}\n档案地址：{{ $('接收小红书数据').first().json.body.profileUrl }}\n\n# 所有标题列表\n{{ $('接收小红书数据').first().json.body.allTitles.join('\\n') }}\n\n# 前10篇热门笔记详情\n{% for note in $('接收小红书数据').first().json.body.top10Notes %}\n标题：{{ note.title }}\n描述：{{ note.desc }}\n点赞：{{ note.like }}\n收藏：{{ note.collect }}\n---\n{% endfor %}\n\n# 分析要求\n请从以下5个维度进行专业分析，生成一份完整的创作者分析报告：\n\n## 1. 数据概览\n- 分析创作者的基础数据表现（粉丝数、获赞数、互动率等）\n- 评估账号的影响力水平\n- 对比行业平均水平（如果可以推断的话）\n\n## 2. 赛道分析\n- 根据笔记内容识别创作者的主要内容赛道\n- 分析内容分布和专业领域\n- 评估赛道选择的合理性和发展潜力\n\n## 3. 标题风格分析\n- 分析标题的语言风格和表达方式\n- 识别常用的标题模板和套路\n- 评估标题的吸引力和SEO友好度\n\n## 4. 笔记风格分析\n- 分析笔记描述的写作风格\n- 识别常用话题标签和关键词\n- 评估内容的专业度和可读性\n\n## 5. 热门笔记分析\n- 分析前10篇笔记的表现数据\n- 识别爆款内容的共同特征\n- 提供内容优化建议\n\n# 输出格式要求\n请以专业的分析报告格式输出，使用markdown语法，包含清晰的章节结构和数据支撑。报告应该客观、专业、有深度，能够为创作者提供有价值的洞察和建议。\n\n现在请开始分析并生成报告。",
        "options": {
          "systemMessage": "你是一个专业的小红书数据分析师，擅长分析创作者的内容策略、受众特征和商业价值。请确保分析结果专业、客观、有深度。"
        }
      },
      "id": "ai-agent-analysis",
      "name": "AI创作者分析",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-v3.2"
      },
      "id": "openrouter-chat-model",
      "name": "OpenRouter DeepSeek模型",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        500,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('接收小红书数据').first().json.body;\nconst aiAnalysisResult = $('AI创作者分析').first().json;\n\nconst bodyData = webhookData.body || webhookData;\n\nconst authorData = {\n  user_name: bodyData.userName || '',\n  user_xhs_id: bodyData.userId || '',\n  subscribers: parseInt(bodyData.subscribers) || 0,\n  followers: parseInt(bodyData.followers) || 0,\n  likes: parseInt(bodyData.likes) || 0,\n  profile_url: bodyData.profileUrl || '',\n  report: aiAnalysisResult.output || aiAnalysisResult.text || JSON.stringify(aiAnalysisResult)\n};\n\nconst top10Titles = bodyData.top10Notes ? bodyData.top10Notes.map(note => note.title) : [];\nconst otherTitles = bodyData.allTitles ? bodyData.allTitles.filter(title => !top10Titles.includes(title)) : [];\nauthorData.other_notes = otherTitles;\n\nconst notesData = [];\nif (bodyData.top10Notes && Array.isArray(bodyData.top10Notes)) {\n  bodyData.top10Notes.forEach(note => {\n    const noteData = {\n      title: note.title,\n      description: note.desc || '',\n      likes: parseInt(note.like) || 0,\n      collects: parseInt(note.collect) || 0,\n      is_top10: true,\n      raw_json: note\n    };\n    notesData.push(noteData);\n  });\n}\n\nreturn [\n  {\n    json: {\n      authorData: authorData,\n      notesData: notesData,\n      originalData: bodyData,\n      analysisResult: aiAnalysisResult\n    }\n  }\n];"
      },
      "id": "data-processor",
      "name": "数据处理器",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $credentials.supabaseApi.host }}/rest/v1/authors?user_xhs_id=eq.{{ $json.authorData.user_xhs_id }}&select=id",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $credentials.supabaseApi.serviceRole }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.supabaseApi.serviceRole }}"
            }
          ]
        },
        "options": {}
      },
      "id": "check-author-exists",
      "name": "查询作者是否存在",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        940,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CE5OpE28TxbcI9h2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const authorData = $('数据处理器').first().json.authorData;\nconst notesData = $('数据处理器').first().json.notesData;\nconst originalData = $('数据处理器').first().json.originalData;\nconst analysisResult = $('数据处理器').first().json.analysisResult;\n\nconst queryResult = $input.first().json;\nconst authorExists = Array.isArray(queryResult) && queryResult.length > 0;\nconst existingAuthorId = authorExists ? queryResult[0].id : null;\n\nreturn [{\n  json: {\n    authorExists,\n    existingAuthorId,\n    authorData,\n    notesData,\n    originalData,\n    analysisResult\n  }\n}];"
      },
      "id": "process-query-result",
      "name": "处理查询结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "author-exists-condition",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.authorExists }}",
              "rightValue": ""
            }
          ]
        }
      },
      "id": "if-author-exists",
      "name": "IF: 作者是否存在",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1160,
        300
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "authors",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_name",
              "fieldValue": "={{ $json.authorData.user_name }}"
            },
            {
              "fieldId": "user_xhs_id",
              "fieldValue": "={{ $json.authorData.user_xhs_id }}"
            },
            {
              "fieldId": "subscribers",
              "fieldValue": "={{ $json.authorData.subscribers }}"
            },
            {
              "fieldId": "followers",
              "fieldValue": "={{ $json.authorData.followers }}"
            },
            {
              "fieldId": "likes",
              "fieldValue": "={{ $json.authorData.likes }}"
            },
            {
              "fieldId": "profile_url",
              "fieldValue": "={{ $json.authorData.profile_url }}"
            },
            {
              "fieldId": "other_notes",
              "fieldValue": "={{ JSON.stringify($json.authorData.other_notes) }}"
            },
            {
              "fieldId": "report",
              "fieldValue": "={{ $json.authorData.report }}"
            }
          ]
        },
        "options": {
          "returning": "representation"
        }
      },
      "id": "supabase-insert-author",
      "name": "保存作者数据",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1380,
        200
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CE5OpE28TxbcI9h2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "update",
        "tableId": "authors",
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_xhs_id",
              "condition": "eq",
              "keyValue": "={{ $json.authorData.user_xhs_id }}"
            }
          ]
        },
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_name",
              "fieldValue": "={{ $json.authorData.user_name }}"
            },
            {
              "fieldId": "subscribers",
              "fieldValue": "={{ $json.authorData.subscribers }}"
            },
            {
              "fieldId": "followers",
              "fieldValue": "={{ $json.authorData.followers }}"
            },
            {
              "fieldId": "likes",
              "fieldValue": "={{ $json.authorData.likes }}"
            },
            {
              "fieldId": "profile_url",
              "fieldValue": "={{ $json.authorData.profile_url }}"
            },
            {
              "fieldId": "other_notes",
              "fieldValue": "={{ JSON.stringify($json.authorData.other_notes) }}"
            },
            {
              "fieldId": "report",
              "fieldValue": "={{ $json.authorData.report }}"
            }
          ]
        },
        "options": {
          "returning": "representation"
        }
      },
      "id": "supabase-update-author",
      "name": "更新作者数据",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1380,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CE5OpE28TxbcI9h2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5,
        "jsCode": "const inputItem = $input.first().json;\nconst authorId = inputItem.id;\nconst notesData = $('处理查询结果').first().json.notesData;\n\nconst processedNotes = notesData.map(note => ({\n  ...note,\n  author_id: authorId\n}));\n\nreturn processedNotes.map(note => ({ json: note }));"
      },
      "id": "notes-processor",
      "name": "笔记数据处理器",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        300
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "create",
        "tableId": "notes",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "author_id",
              "fieldValue": "={{ $json.author_id }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.title }}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{ $json.description }}"
            },
            {
              "fieldId": "likes",
              "fieldValue": "={{ $json.likes }}"
            },
            {
              "fieldId": "collects",
              "fieldValue": "={{ $json.collects }}"
            },
            {
              "fieldId": "is_top10",
              "fieldValue": "={{ $json.is_top10 }}"
            },
            {
              "fieldId": "raw_json",
              "fieldValue": "={{ JSON.stringify($json.raw_json) }}"
            }
          ]
        }
      },
      "id": "supabase-insert-notes",
      "name": "保存笔记数据",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1820,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "CE5OpE28TxbcI9h2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputItem = $input.first().json;\nconst notesResults = $('保存笔记数据').all();\n\nlet success = true;\nlet message = '数据保存成功';\nlet details = {\n  authorSaved: false,\n  authorOperation: '',\n  notesSaved: 0,\n  totalNotes: 0\n};\n\ntry {\n  if (inputItem && inputItem.id) {\n    details.authorSaved = true;\n    details.authorOperation = inputItem._operation || 'unknown';\n  } else {\n    success = false;\n    message = '作者数据保存失败';\n  }\n\n  details.totalNotes = notesResults.length;\n  details.notesSaved = notesResults.filter(result => result.json && result.json.id).length;\n\n  if (details.notesSaved !== details.totalNotes) {\n    success = false;\n    message = `部分笔记数据保存失败，成功保存 ${details.notesSaved}/${details.totalNotes}`;\n  }\n\n} catch (error) {\n  success = false;\n  message = '数据处理过程中发生错误: ' + error.message;\n}\n\nreturn [{\n  json: {\n    success: success,\n    message: message,\n    details: details,\n    authorId: inputItem?.id || null,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "result-processor",
      "name": "结果处理器",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2040,
        300
      ]
    }
  ],
  "connections": {
    "接收小红书数据": {
      "main": [
        [
          {
            "node": "AI创作者分析",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI创作者分析": {
      "main": [
        [
          {
            "node": "数据处理器",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter DeepSeek模型": {
      "ai_languageModel": [
        [
          {
            "node": "AI创作者分析",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "数据处理器": {
      "main": [
        [
          {
            "node": "查询作者是否存在",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "查询作者是否存在": {
      "main": [
        [
          {
            "node": "处理查询结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "处理查询结果": {
      "main": [
        [
          {
            "node": "IF: 作者是否存在",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: 作者是否存在": {
      "main": [
        [
          {
            "node": "更新作者数据",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "保存作者数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "保存作者数据": {
      "main": [
        [
          {
            "node": "笔记数据处理器",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新作者数据": {
      "main": [
        [
          {
            "node": "笔记数据处理器",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "笔记数据处理器": {
      "main": [
        [
          {
            "node": "保存笔记数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "保存笔记数据": {
      "main": [
        [
          {
            "node": "结果处理器",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-08-05T03:00:00.000Z",
      "updatedAt": "2025-08-05T03:00:00.000Z",
      "id": "xiaohongshu-analysis",
      "name": "小红书分析"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-08-05T03:00:00.000Z",
  "versionId": "1"
}